@import url('https://fonts.googleapis.com/css2?family=SF+Pro+Display:wght@300;400;600&display=swap');

body {
  font-family: -apple-system, BlinkMacSystemFont, "SF Pro Display", sans-serif;
  background-color: #F5F5F7;
  color: #1C1C1E;
  margin: 0;
  padding: 0;
}


* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }
  
  .home-container {
    padding-bottom: 60px; /* Prevents Navbar overlap */
  }
  

  
  